.background_site {
  background-color: rgb(245, 244, 244);
  width: 100%;
  padding: 10px;
  color: black;
}

.header_css {
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(24, 171, 164);
  color: rgb(255, 255, 255);
  padding: 10px;
}

.contain_site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10vh;
}

.bullet_design {
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding-left: 10px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(135deg, #18aba4 10%, #82cba6 90%);
  width: 100%;
}

.createweb {
  display: flex;
  max-width: 300px;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
}

.sonotasite {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15%;
}
